{
  security {
    authentication portal fablab {
      backend google {{ authp_client_id }} {{ authp_client_secret }}
      cookie domain fablab.rip
      crypto default token lifetime 86400
      crypto key sign-verify {{ authp_crypto_key }}
      transform user {
        suffix match email @eduespoo.fi
        action add role authp/user
      }
      enable source ip tracking
    }

    authorization policy fablab {
      crypto key verify {{ authp_crypto_key }}
      crypto key token name access_token
      set auth url /auth
      allow roles authp/user
      validate bearer header
			inject headers with claims
    }
  }
}

{{ domain }} {
  route /auth* {
    authenticate with fablab
  }

  route /* {
    authorize with fablab
    
    reverse_proxy localhost:8000
  }
}