listen_address = "127.0.0.1:8000"
auth_cookie_name = "access_token"
secret = {{ authp_crypto_key | to_json }}
socket_path = "unix:///run/user/1337/podman/podman.sock"
rcs_image = "registry.gitlab.com/otafablab/rust-code-server/rust-code-server:latest"
