<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>RIP PORTAL</title>
    <link rel="stylesheet" href="https://cdn.muicss.com/mui-0.10.3/css/mui.min.css" />
    <script src="https://cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
    <script>
      async function main() {
          const module = await import({{ ("./" + rip_portal_js) | to_json }});
          await module.default({{ ("/" + rip_portal_wasm) | to_json }});
          module.run_app();
      }
      main();
    </script>
</head>

<body>
</body>

</html>
